.topo{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(40, 40, 40);
}
.titulo1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
}
main{
    padding: 20px 0px;
    display: flex;
    justify-content: space-around;
    background-color: white;
}
section, aside{
    width: 45%;
}
section header{
    padding: 10px;
    text-align: center;
    background-color: gray;
    border-radius: 4px;
}
section div{
    padding: 10px;
    text-align: center;
    background-color: rgb(210, 210, 210);
    border-radius: 4px;
}
aside header{
    padding: 10px;
    text-align: center;
    background-color: gray;
    border-radius: 4px;
}
aside div{
    padding: 10px;
    text-align: center;
    background-color: rgb(210, 210, 210);
    border-radius: 4px;
}