
header {
    background-color: rgb(36, 36, 35);
}
main {
    background-color: rgb(36, 36, 35);
    height: 680px;
}
aside {
    background-color: rgb(44, 44, 42);
    height: 680px;
}

footer {   
    height: auto;  
    background-color: rgb(36, 36, 35);
} 
main section {
    height:50px;
}

aside section{
    height: 50px;;
}
main img {
    margin-top: 20px;
    max-height: 200px;
}
ol {
    list-style-type: circle;
}
h3 {
    margin-left: 100px;
    font-size: 20px;
    margin-top: 50px;
    color: white
}
#pesquisa_aside {
    width: 90%;
    margin: 5%;
}
#olaside1 {
    color: white;
}
body {
    width: 100%;
    background-color: rgb(36, 36, 35);
}

h6 {
    color: white;
}
#p2 {
    color:white;
}

#hunterh5 {
    color: rgb(0, 0, 0);
}
